In [12]:
import numpy as np
import pandas as pd

In [2]:
dict = {
    "place":['RV road','bansankri','jp nagar','yelachenahalli','K cross'],
    "price":[25,30,35,40,45],
    "time":[30,36,40,47,53]
}

In [4]:
df = pd.DataFrame(dict)

In [6]:
# to convert it to csv:
df.to_csv("Bng metro.csv")

In [7]:
df.head(1)

     place  price  time
0  RV road     25    30

In [8]:
df.tail(2)

            place  price  time
3  yelachenahalli     40    47
4         K cross     45    53

In [10]:
df.describe()

           price       time
count   5.000000   5.000000
mean   35.000000  41.200000
std     7.905694   9.038805
min    25.000000  30.000000
25%    30.000000  36.000000
50%    35.000000  40.000000
75%    40.000000  47.000000
max    45.000000  53.000000

In [13]:
# example of SERIES :
ser =  pd.Series(np.random.rand(29))
ser

0     0.468667
1     0.681690
2     0.246749
3     0.797141
4     0.353674
5     0.928182
6     0.139618
7     0.804959
8     0.104715
9     0.261298
10    0.948664
11    0.904918
12    0.573405
13    0.259884
14    0.200335
15    0.985631
16    0.826889
17    0.936320
18    0.784842
19    0.732982
20    0.251291
21    0.114843
22    0.129966
23    0.864343
24    0.970248
25    0.789209
26    0.348237
27    0.518238
28    0.943428
dtype: float64

In [14]:
type(ser)

pandas.core.series.Series

In [17]:
# example for DATAFRAME :
datafr = pd.DataFrame(np.random.rand(229,6),index=np.arange(229)) # 229=rows,6=columns,arange=type of range function 
datafr.head()

          0         1         2         3         4         5
0  0.396122  0.596955  0.125960  0.556828  0.379832  0.514661
1  0.161528  0.402824  0.011391  0.016977  0.332403  0.605392
2  0.207271  0.618192  0.659637  0.972189  0.641388  0.933037
3  0.622696  0.970625  0.935213  0.846083  0.517119  0.782236
4  0.413436  0.357519  0.630102  0.398503  0.922693  0.287006

In [18]:
datafr

            0         1         2         3         4         5
0    0.396122  0.596955  0.125960  0.556828  0.379832  0.514661
1    0.161528  0.402824  0.011391  0.016977  0.332403  0.605392
2    0.207271  0.618192  0.659637  0.972189  0.641388  0.933037
3    0.622696  0.970625  0.935213  0.846083  0.517119  0.782236
4    0.413436  0.357519  0.630102  0.398503  0.922693  0.287006
..        ...       ...       ...       ...       ...       ...
224  0.272401  0.781633  0.910717  0.000954  0.806334  0.974305
225  0.444971  0.522284  0.674691  0.326321  0.200524  0.873504
226  0.833411  0.807278  0.846535  0.601713  0.113366  0.371206
227  0.902008  0.014023  0.829247  0.888083  0.003409  0.894742
228  0.750771  0.629490  0.948745  0.967471  0.131114  0.186845

[229 rows x 6 columns]

In [19]:
type(datafr)

pandas.core.frame.DataFrame

In [20]:
datafr.dtypes

0    float64
1    float64
2    float64
3    float64
4    float64
5    float64
dtype: object

In [22]:
datafr.head()

          0         1         2         3         4         5
0  0.396122  0.596955  0.125960  0.556828  0.379832  0.514661
1  0.161528  0.402824  0.011391  0.016977  0.332403  0.605392
2  0.207271  0.618192  0.659637  0.972189  0.641388  0.933037
3  0.622696  0.970625  0.935213  0.846083  0.517119  0.782236
4  0.413436  0.357519  0.630102  0.398503  0.922693  0.287006

In [32]:
datafr[0][0]= "nithin tm"      #row and column
datafr.head()

           0         1         2         3         4         5
0  nithin tm  0.596955  0.125960  0.556828  0.379832  0.514661
1   0.161528  0.402824  0.011391  0.016977  0.332403  0.605392
2   0.207271  0.618192  0.659637  0.972189  0.641388  0.933037
3   0.622696  0.970625  0.935213  0.846083  0.517119  0.782236
4   0.413436  0.357519  0.630102  0.398503  0.922693  0.287006

In [33]:
datafr.dtypes

0     object
1    float64
2    float64
3    float64
4    float64
5    float64
dtype: object

In [34]:
datafr.head()

           0         1         2         3         4         5
0  nithin tm  0.596955  0.125960  0.556828  0.379832  0.514661
1   0.161528  0.402824  0.011391  0.016977  0.332403  0.605392
2   0.207271  0.618192  0.659637  0.972189  0.641388  0.933037
3   0.622696  0.970625  0.935213  0.846083  0.517119  0.782236
4   0.413436  0.357519  0.630102  0.398503  0.922693  0.287006

In [35]:
datafr.T    # transpose

,0,1,2,3,4,5,6,7,8,9,...,219,220,221,222,223,224,225,226,227,228
0,nithin tm,0.161528,0.207271,0.622696,0.413436,0.107641,0.506473,0.589417,0.194915,0.492543,...,0.784569,0.869805,0.638514,0.23768,0.167391,0.272401,0.444971,0.833411,0.902008,0.750771
1,0.596955,0.402824,0.618192,0.970625,0.357519,0.896425,0.991006,0.0159377,0.0797302,0.663487,...,0.680931,0.288792,5.74947e-05,0.296446,0.621462,0.781633,0.522284,0.807278,0.0140234,0.62949
2,0.12596,0.0113907,0.659637,0.935213,0.630102,0.998818,0.874407,0.451465,0.808257,0.520923,...,0.49887,0.563087,0.845705,0.484058,0.031567,0.910717,0.674691,0.846535,0.829247,0.948745
3,0.556828,0.0169769,0.972189,0.846083,0.398503,0.848029,0.56627,0.575804,0.444221,0.87097,...,0.144249,0.476535,0.246873,0.661293,0.00637926,0.000953783,0.326321,0.601713,0.888083,0.967471
4,0.379832,0.332403,0.641388,0.517119,0.922693,0.594589,0.492583,0.865305,0.656264,0.292522,...,0.391073,0.687391,0.807048,0.505726,0.268559,0.806334,0.200524,0.113366,0.00340933,0.131114
5,0.514661,0.605392,0.933037,0.782236,0.287006,0.115073,0.958795,0.347847,0.458794,0.105833,...,0.134751,0.0808778,0.575317,0.998868,0.331391,0.974305,0.873504,0.371206,0.894742,0.186845

In [41]:
datafr.sort_index(axis=0, ascending=False)       # axis=0 means rows or 1 means column and by default ascending is true

             0         1         2         3         4         5
228   0.750771  0.629490  0.948745  0.967471  0.131114  0.186845
227   0.902008  0.014023  0.829247  0.888083  0.003409  0.894742
226   0.833411  0.807278  0.846535  0.601713  0.113366  0.371206
225   0.444971  0.522284  0.674691  0.326321  0.200524  0.873504
224   0.272401  0.781633  0.910717  0.000954  0.806334  0.974305
..         ...       ...       ...       ...       ...       ...
4     0.413436  0.357519  0.630102  0.398503  0.922693  0.287006
3     0.622696  0.970625  0.935213  0.846083  0.517119  0.782236
2     0.207271  0.618192  0.659637  0.972189  0.641388  0.933037
1     0.161528  0.402824  0.011391  0.016977  0.332403  0.605392
0    nithin tm  0.596955  0.125960  0.556828  0.379832  0.514661

[229 rows x 6 columns]

In [48]:
newdf=datafr.head(5)
newdf

           0         1         2         3         4         5
0  nithin tm  0.596955  0.125960  0.556828  0.379832  0.514661
1   0.161528  0.402824  0.011391  0.016977  0.332403  0.605392
2   0.207271  0.618192  0.659637  0.972189  0.641388  0.933037
3   0.622696  0.970625  0.935213  0.846083  0.517119  0.782236
4   0.413436  0.357519  0.630102  0.398503  0.922693  0.287006

In [47]:
# to delete row or column
newdf.drop(0,axis=1) #it removed 0 column

          1         2         3         4         5
0  0.596955  0.125960  0.556828  0.379832  0.514661
1  0.402824  0.011391  0.016977  0.332403  0.605392
2  0.618192  0.659637  0.972189  0.641388  0.933037
3  0.970625  0.935213  0.846083  0.517119  0.782236
4  0.357519  0.630102  0.398503  0.922693  0.287006